<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#D2001A"/>
    <title>Siger Foods</title>
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
      <a href="#content" class="skip-content">Lewati ke konten</a>
      <nav-bar></nav-bar>
    </header>
    <hero-content></hero-content>
    <main tabindex="0" id="content" class="content"></main>
    <footer-content></footer-content>
</body>
</html>